In [1]:
import numpy as np
import pandas as pd
import string
import re #regular expression

In [2]:
with open("businessCard.txt", mode="r", encoding="utf8", errors="ignore") as f:
    text = f.read()

In [3]:
print(text[:480])

id	text	tag
000.jpeg	 	O
000.jpeg	.	O
000.jpeg	040-4852	B-PHONE
000.jpeg	"8881,"	I-PHONE
000.jpeg	90309	B-PHONE
000.jpeg	52549	I-PHONE
000.jpeg	Fi	O
000.jpeg	/laurelsoverseaseducation	O
000.jpeg	@:	O
000.jpeg	LAURELS	B-ORG
000.jpeg	OVERSEAS	I-ORG
000.jpeg	EDUCATIONAL	I-ORG
000.jpeg	CONSULTANCY	I-ORG
000.jpeg	PVT.	I-ORG
000.jpeg	LTD.	I-ORG
000.jpeg	Sea	O
000.jpeg	|	O
000.jpeg	U.K	O
000.jpeg	AUSTRALIA	O
000.jpeg	CANADA	O
000.jpeg	IRELAND	O
000.jpeg	 	O
000.jpeg	 	O
000.jpeg	 	O

In [4]:
text[:450]

'id\ttext\ttag\n000.jpeg\t \tO\n000.jpeg\t.\tO\n000.jpeg\t040-4852\tB-PHONE\n000.jpeg\t"8881,"\tI-PHONE\n000.jpeg\t90309\tB-PHONE\n000.jpeg\t52549\tI-PHONE\n000.jpeg\tFi\tO\n000.jpeg\t/laurelsoverseaseducation\tO\n000.jpeg\t@:\tO\n000.jpeg\tLAURELS\tB-ORG\n000.jpeg\tOVERSEAS\tI-ORG\n000.jpeg\tEDUCATIONAL\tI-ORG\n000.jpeg\tCONSULTANCY\tI-ORG\n000.jpeg\tPVT.\tI-ORG\n000.jpeg\tLTD.\tI-ORG\n000.jpeg\tSea\tO\n000.jpeg\t|\tO\n000.jpeg\tU.K\tO\n000.jpeg\tAUSTRALIA\tO\n000.jpeg\tCANADA\tO\n000.jpeg\tIRELAND\tO\n000.jpeg'

In [5]:
data = list(map(lambda x: x.split("\t"), text.split("\n")))

In [6]:
data[:20]

[['id', 'text', 'tag'],
 ['000.jpeg', ' ', 'O'],
 ['000.jpeg', '.', 'O'],
 ['000.jpeg', '040-4852', 'B-PHONE'],
 ['000.jpeg', '"8881,"', 'I-PHONE'],
 ['000.jpeg', '90309', 'B-PHONE'],
 ['000.jpeg', '52549', 'I-PHONE'],
 ['000.jpeg', 'Fi', 'O'],
 ['000.jpeg', '/laurelsoverseaseducation', 'O'],
 ['000.jpeg', '@:', 'O'],
 ['000.jpeg', 'LAURELS', 'B-ORG'],
 ['000.jpeg', 'OVERSEAS', 'I-ORG'],
 ['000.jpeg', 'EDUCATIONAL', 'I-ORG'],
 ['000.jpeg', 'CONSULTANCY', 'I-ORG'],
 ['000.jpeg', 'PVT.', 'I-ORG'],
 ['000.jpeg', 'LTD.', 'I-ORG'],
 ['000.jpeg', 'Sea', 'O'],
 ['000.jpeg', '|', 'O'],
 ['000.jpeg', 'U.K', 'O'],
 ['000.jpeg', 'AUSTRALIA', 'O']]

In [7]:
df = pd.DataFrame(data[1:], columns=data[0])

df.head()

         id      text      tag
0  000.jpeg                  O
1  000.jpeg         .        O
2  000.jpeg  040-4852  B-PHONE
3  000.jpeg   "8881,"  I-PHONE
4  000.jpeg     90309  B-PHONE

In [8]:
string.whitespace

' \t\n\r\x0b\x0c'

In [9]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [10]:
whitespace = string.whitespace
punctuation = '!#$%&\'()*+:;<=>?[\\]^`{|}~'

tableWhiteSpace = str.maketrans("", "", whitespace)
tablePunctuation = str.maketrans("", "", punctuation)

def clean_text(txt):
    text = str(txt)
    text = text.lower()
    removewhitespace = text.translate(tableWhiteSpace)
    removepunctuation = removewhitespace.translate(tablePunctuation)
    
    return str(removepunctuation)

In [11]:
df["text"] = df["text"].apply(clean_text)

In [12]:
dataClean = df.query("text != '' ")
dataClean.dropna(inplace=True)

dataClean.head(10)

C:\Users\my\AppData\Local\Temp\ipykernel_17832\644399253.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataClean.dropna(inplace=True)

          id                       text      tag
1   000.jpeg                          .        O
2   000.jpeg                   040-4852  B-PHONE
3   000.jpeg                    "8881,"  I-PHONE
4   000.jpeg                      90309  B-PHONE
5   000.jpeg                      52549  I-PHONE
6   000.jpeg                         fi        O
7   000.jpeg  /laurelsoverseaseducation        O
8   000.jpeg                          @        O
9   000.jpeg                    laurels    B-ORG
10  000.jpeg                   overseas    I-ORG